{% for menu in elements %}
     {% if menu['type'] == 'title' %}
        <li class="kt-menu__section">
            <h4 class="kt-menu__section-text">{{  menu['name'] }}</h4>
            <em class="kt-menu__section-icon flaticon-more-v2"></em>
        </li>
    {% elseif menu['type'] == 'submenu' %}
        <li class="kt-menu__item kt-menu__item--submenu" aria-haspopup="true" data-ktmenu-submenu-toggle="hover">
            <a href="javascript:;" class="kt-menu__link kt-menu__toggle">
                <span class="kt-menu__link-icon"> <em class="{{  menu['icon'] }}"></em></span>
                <span class="kt-menu__link-text">{{  menu['name'] }}</span>
                <em class="kt-menu__ver-arrow la la-angle-right"></em>
            </a>
            <div class="kt-menu__submenu" >
                <span class="kt-menu__arrow"></span>
                <ul class="kt-menu__subnav">
                    <li class="kt-menu__item  kt-menu__item--parent" aria-haspopup="true">
                        <span class="kt-menu__link">
                            <span class="kt-menu__link-text">{{ menu['name'] }}</span>
                        </span>
                    </li>
                    {% if menu['submenu'] is defined %}
                        {% include 'partials/header/menu/menu_lateral_elemento.html.twig' with {'elements': menu['submenu']} %}
                    {% endif %}
                </ul>
            </div>
        </li>
    {% elseif menu['type'] == 'element' %}
        {% set route = menu['route'][0] is iterable ? menu['route'][0][0] : menu['route'][0] %}

        {% if menu['route'][1].movementType is defined %}

        <li class="kt-menu__item
              {% if  ('driver/create' in app.request.pathinfo ) and app.request.attributes.get('movementType') == menu['route'][1].movementType %} menu-activo{% endif %}
                {% if  ('carrier/create' in app.request.pathinfo ) and app.request.attributes.get('movementType') == menu['route'][1].movementType %} menu-activo{% endif %}
                    {% if  ('operation/create' in app.request.pathinfo ) and app.request.attributes.get('movementType') == menu['route'][1].movementType %} menu-activo{% endif %}
                            {% if  (route =='movement.list' ) and app.request.attributes.get('movementType') == menu['route'][1].movementType  %} menu-activo  {% endif %}"

            aria-haspopup="true">

            {% elseif menu['route'][1].stopSaleCategory is defined %}

            <li class="kt-menu__item
              {% if  ('standard/create' in app.request.pathinfo ) and app.request.attributes.get('stopSaleCategory') == menu['route'][1].stopSaleCategory %} menu-activo{% endif %}
                {% if  ('oneway/create' in app.request.pathinfo ) and app.request.attributes.get('stopSaleCategory') == menu['route'][1].stopSaleCategory %} menu-activo{% endif %}
                            {% if  (route =='stopsale.list' ) and app.request.attributes.get('stopSaleCategory') == menu['route'][1].stopSaleCategory  %} menu-activo  {% endif %}"

                aria-haspopup="true">

        {% else %}

        <li class="kt-menu__item {% if app.request.attributes.get('_route') in menu['route'][0] %}menu-activo{% endif %}" aria-haspopup="true">
        {% endif %}
        <a href="{{ path(route, menu['route'][1], menu['route'][2]) }}" class="kt-menu__link ">
            <span class="kt-menu__link-icon"><em class="{{  menu['icon'] }}"></em></span>
            <span class="kt-menu__link-text">{{  menu['name'] }}</span>
        </a>
        </li>


     {% endif %}
{% endfor %}
