<div class="kt-header__topbar-item kt-header__topbar-item--user">
    <div class="kt-header__topbar-wrapper" data-toggle="dropdown" data-offset="0px,0px">
        <div class="kt-header__topbar-user">
            <span class="kt-header__topbar-username kt-hidden-mobile">{{ user ? user.name : '' }}</span>
            <img class="kt-hidden" alt="Pic" src="https://via.placeholder.com/50" />

            <span class="kt-badge kt-badge--username kt-badge--unified-danger kt-badge--lg kt-badge--rounded kt-badge--bold">{{ user ? user.name | slice(0, 1) | upper : 'O'}}</span>
        </div>
    </div>
    <div class="dropdown-menu dropdown-menu-fit dropdown-menu-right dropdown-menu-anim dropdown-menu-top-unround dropdown-menu-xl">

        <div class="kt-user-card kt-user-card--skin-dark kt-notification-item-padding-x" style="background-image: url('{{ asset('img/bg-1.png') }}')">
            <div class="kt-user-card__avatar">
                <img class="kt-hidden" alt="Pic" src="https://via.placeholder.com/50" />

                <span class="kt-badge kt-badge--lg kt-badge--rounded kt-badge--bold" style="color: #ffffff;">{{ user ? user.name | slice(0, 1) | upper : 'O'}}</span>
            </div>
            <div class="kt-user-card__name">
                {{ user ? user.completeName : '' }}
            </div>
        </div>

        <div class="kt-notification">
            <div class="kt-notification__custom kt-space-between">
                <a href="{{path('logout')}}"  class="btn btn-brand btn-sm">Cerrar sesión</a>
            </div>
        </div>
        <!--end: Navigation -->
    </div>
</div>
