<!DOCTYPE html>
<html lang="es">
<head>

    <meta http-equiv="Expires" content="0">
    <meta http-equiv="Last-Modified" content="0">
    <meta http-equiv="Cache-Control" content="no-cache, mustrevalidate">
    <meta http-equiv="Pragma" content="no-cache">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/img/favicon.svg?1" type="image/vnd.microsoft.icon" sizes="32x32">
    <link rel= "stylesheet" href= "https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css" >
    <title>{% block title %}Welcome!{% endblock %}</title>
    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.16/webfont.js"></script>
    <script>
        WebFont.load({
            google: {
                "families": ["Poppins:300,400,500,600,700"]
            },
            active: function() {
                sessionStorage.fonts = true;
            }
        });
    </script>
    <style>
        #loading-image {
            position: fixed;
            left: 50%;
            top: 50%;
            z-index: 9999999;
            width: 100px;
        }
    </style>
    {{ encore_entry_link_tags('app') }}
    <style>
        .kt-portlet{
            box-shadow: none !important;
        }
    </style>

    {% if app.request.server.get('APP_ENV') == 'local' %}
        <style>
            .kt-aside, .kt-aside__brand, .kt-aside-menu, .kt-header-mobile {
                background-color: #2375d0 !important;
            }
        </style>
    {% endif %}

    {% if app.request.server.get('APP_ENV') == 'dev' %}
        <style>
            .kt-aside, .kt-aside__brand, .kt-aside-menu, .kt-header-mobile {
                background-color: #1c4e85 !important;
            }
        </style>
    {% endif %}

    {% if app.request.server.get('APP_ENV') == 'pre' %}
        <style>
            .kt-aside, .kt-aside__brand, .kt-aside-menu, .kt-header-mobile {
                background-color: #28a745 !important;
            }
        </style>
    {% endif %}

    {% block stylesheets %}{% endblock %}

    {% block javascripts %}{% endblock %}
</head>

<body class="kt-quick-panel--right kt-demo-panel--right kt-offcanvas-panel--right kt-header--fixed kt-header-mobile--fixed kt-aside--enabled kt-aside--fixed kt-page--loading">
<div id="loading" style="display: none">
    <img id="loading-image" src="{{ asset('img/loading.gif') }}" alt="Cargando..." />
</div>
{% include 'partials/header/menu/menu_mobile_button.html.twig' %}
<div class="kt-grid kt-grid--hor kt-grid--root" id="app">
    <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--ver kt-page">
        <!-- begin:: Aside -->
            {% include 'partials/header/menu/menu_lateral.html.twig' %}
        <!-- end:: Aside -->
        <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor kt-wrapper" id="kt_wrapper">
            <!-- begin:: Header -->
            {% include 'partials/header/menu/menu_top.blade.html.twig' %}
            <!-- end:: Header -->
            <!-- begin:: Content -->
            <div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor" id="kt_content">
                <div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid" id="app">
                    {% for key, messages in app.flashes %}
                        <div class="alert alert-custom alert-{{ key }} fade show" role="alert">
                            <div class="alert-icon"><em class="flaticon-warning"></em></div>
                            {% for message in messages %}
                                <div class="alert-text">{{ message }}</div>
                            {% endfor %}
                            <div class="alert-close">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true"><em class="icon-xl la la-close"></em></span>
                                </button>
                            </div>
                        </div>
                    {% endfor %}
                    {% block body %}{% endblock %}
                </div>
            </div>
            <!-- end:: Content -->
            <!-- begin:: Footer -->
            {% include 'partials/footer/footer.html.twig' %}
            <!-- end:: Footer -->
        </div>
    </div>
</div>
<!-- begin::Scrolltop -->
<div id="kt_scrolltop" class="kt-scrolltop">
    <em class="fa fa-arrow-up"></em>
</div>
<script>
    let msg = {
        filter: {
            filterTitle: '{{ 'Listado de filtros' | trans }}',
            filterButtonDeleteAll: '{{ 'Borrar filtros' | trans }}',
            filterSearch: '{{ 'Buscar' | trans }}',
            filter: '{{ 'Filtros' | trans }}',
            edit: '{{ 'Editar' | trans }}'
        }
    }
</script>
{{ encore_entry_script_tags('app') }}
<script>

    let KTAppOptions = {
        "colors": {
            "state": {
                "brand": "#cf2d30",
                "dark": "#282a3c",
                "light": "#ffffff",
                "primary": "#cf2d30",
                "success": "#34bfa3",
                "info": "#36a3f7",
                "warning": "#ffb822",
                "danger": "#fd3995"
            },
            "base": {
                "label": ["#c5cbe3", "#a1a8c3", "#3d4465", "#3e4466"],
                "shape": ["#f0f3ff", "#d9dffa", "#afb4d4", "#646c9a"]
            }
        }
    };
    $(document).ready(function () {
        let menuActivo = $("#kt_aside #kt_aside_menu ul.kt-menu__nav li.menu-activo")[0];
        let aside = KTLayout.getAsideMenu();
        aside.setActiveItem(menuActivo);

        // Ocultar .flash-notice despues de 5 segundos
        setTimeout(function() {
            $('.alert-custom').fadeOut('fast');
        }, 5000);
    });
</script>
</body>
</html>